<%- include('./partials/header') %>
<html>
<body>
    <div class="ui segment">
        <h1>Contexto Geral e História do Mundo de Sombras e Caos</h1>
        <p>No ano de 2022, devido o Aquecimento Global um vírus que concedia poderes sobrehumanos para as pessoas foi descongelado do Polo Norte e foi liberado no planeta</p>
    </div>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>