<%- include('./partials/header') %>
<html>
<body>
    <h1>"Contexto Geral e História do Mundo de Sombras e Caos"</h1>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>